/* Jamie Morris Homework-3 Random Password Generator */
/* Styles for Homework 3 */
/* Styles for body */
body {
    background-color: #E8E8E8;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #696969;
}
/* Styles for the wrapper div */
#wrapper {
    background-color: #F5F5F5;
    margin-left: 15%;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-top: 30px;
    width: 980px;
}
/* Styles for the content div */
#content {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FFFFFF;
    box-shadow: 5px 10px 18px #888888;

}
/* Styles for h1 */
h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 45px;
    font-size: 2em;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;

}
/* Styles for h2 */
h2 {
    margin-left: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
}
/* Styles for textarea */
textarea {
    padding: 10%;
    border: dashed 1px gray;
    margin-left: 10%;
    padding-left: 15%;
    padding-right: 15%;
    width: 50%;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    color: #696969;
    font-size: 18px;
}
/* Styles for button div */
#btn {
    margin-top: 20px;
}
/* Styles for generate button */
#generate {
    background-color: #f44336;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 15px;
    margin-left: 18%;
    margin-bottom: 10px;
}
/* Styles for copy button */
#copy {
    background-color: #e7e7e7;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Start Media Query */
/* A Media Query max-width: 980px */
@media screen and (max-width: 980px) {
    /* Resized content to fit 980px  */
    body {
        max-width: 980px;
    }   
    /* Styles for the wrapper div */
    #wrapper {
        width: 100%;
        }
}
    /* A Media Query max-width: 786px */
    @media screen and (max-width: 786px) {
    /* Resized content to fit 786px  */
    body {
        max-width: 786px;
    } 
    /* Styles for the wrapper div */
    #wrapper {
        width: 100%;
        }
/* Styles for generate button */
#generate {
    
    margin-left: 10%;
    margin-bottom: 10px;
}
/* Styles for copy button */

    }
    /* A Media Query max-width: 640px */
    @media screen and (max-width: 640px) {
     /* Resized content to fit 640px  */
     body {
        max-width: 640px;
    } 
    
     #wrapper {
        width: 100%;
        }
        #btn {
            margin-top: 20px;
        }
        /* Styles for generate button */
        #generate {
            margin-left: 22%;
            
        }
        /* Styles for copy button */
        #copy {
            margin-left: 22%;
            
        }
    
    }
    